
.container {
    max-width: 100vw;
}

.fill {
    width: 100%;
}

.split {
    width: 100%;
}

.favorable {
    background-color: greenyellow;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}